<article>
  <h2 class="mb-2 mt-5 text-3xl font-bold">Genero Favorito</h2>
  <section class="flex flex-col items-center space-y-3">
    <h2 class="mb-2 mt-5 text-center text-2xl font-bold">Indie</h2>
    <img
      class="aspect-auto max-h-80 rounded-xl object-cover"
      src="https://4.bp.blogspot.com/_KtvKiVmGPfU/TOBpG6XQ_yI/AAAAAAAAAcI/0eO1LV7EHCk/s1600/indiehi6.jpg"
      alt="indie"
    />
    <p>
      El término “indie” viene de la palabra independiente, y entra en esta
      categoría toda la música que llega al público por sus propios medios, es
      decir, sin un sello discográfico que los apoye. Son grupos que se enfocan
      en subrayar su propio estilo, mostrando la música que a ellos les gusta
      crear sin depender de las tendencias globales o de una marca que los
      encasille en cierto género. Su música podría entrar en la categoría de
      culto, pues llegan únicamente a esos fans que van más allá de lo
      comercial.
    </p>
  </section>
</article>
